/************ grid ****************/

#examples {
    display: flex;
    flex-flow: column;
}

#examples-title {
    width: 100%;
}

.examples-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.example-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
}

.ePanel {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.ePanel img {
    width: 100%;
}

.reverse {
    flex-flow: column-reverse;
}


h4,
h5 {
    margin: 0 auto;
}

h4 {
    margin-bottom: 20px;
}

h5 {
    font-size: 1.7em;
}

p {
    font-size: 1em;
    width: 90%;
}

img { 
    width: 100%;
    border-radius: 20px;
}

figure {
    margin: 0;
}

figure img:hover {
    border: black solid 2px;
    width: 99%;
    height: 99%;
}

@media only screen and (min-width: 700px) {
    p {
        font-size: 1.2em;
    }
}

/************** DESKTOP *****************/

@media only screen and (min-width: 1200px) {

.reverse,
.example-wrapper {
    flex-flow: row;
}

.example-wrapper {
    margin: 40px 0;
}

.examples-wrapper {
    width: 90%;
}

h4 {
    font-size: 2.8em;
}

h5 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
}

}

@media only screen and (min-width: 1400px) {
.examples-wrapper {
    width: 85%;
}

.example-wrapper {
    margin-bottom: 60px;
}
}