/* logo & animations*/

.logo {
    margin: 45px 20px 25px 20px;
    pointer-events: none;
    width: min-content;
  }
.logo img {
    height: 100px;
    width: 140px;
}
  
@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 6s linear;
    }
}

@keyframes logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}

@keyframes fade {
    from {background-color: #50415a;}
    to {background-color: #29212e;}
}

/* Base Styles & Grids */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #29212e;
    animation-name: fade;
    animation-duration: 2s;
    border: 5px solid #151117;
    border-radius: 10px;
}

p {
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    color: white;
    text-shadow: -2px 2px 0 #000,
                    2px 2px 0 #000,
                    2px -2px 0 #000,
                    -2px -2px 0 #000;
}
  
h2 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: hsla(50, 90%, 70%, 1);
    text-shadow: -2px 2px 0 #000,
                          2px 2px 0 #000,
                          2px -2px 0 #000,
                          -2px -2px 0 #000;
    font-size: 2em;
}

h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.2em;
}

h4 {
    color: hsla(50, 90%, 85%, 1);
    font-size: 2.3em;
    text-align: center;
    text-shadow: -1px 1px 0 black,
                          1px 1px 0 black,
                          1px -1px 0 black,
                          -1px -1px 0 black;
}

span {
    font-family: 'Wallpoet', cursive;
    color: hsla(50, 60%, 70%, 1);
    font-size: 1.2em;
}

h5 {
    color: white;
    font-size: 2em;
    text-align: center;
}

header,
.thehead,
.titlename,
.examples,
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

header,
section,
.titlename,
.herowrap {
    width: 100%;
}


/* Header */

.topofpage {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.titlename {
    margin-top: -20px;
}

.thehead {
    flex-flow: column;
}

.division {
    width: 33%;
    border: rgb(160, 136, 4) solid 1px;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    flex-flow: column;
    list-style-type: none;
    margin-bottom: 45px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-shadow:1px 1px 8px gold, 1px 1px 8px #ccc;
    transition: color 1s;
    margin-right: 35px;
    font-size: 1.9em;
    transition: font-size 1s;
}

nav ul li a:hover {
    color: rgb(247, 235, 170);
    text-shadow: -2px 2px 0 #000,
    2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
    font-size: 2em;
}

.herowrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero {
    width: 100%;
    height: 220px;
    background: url("./assets/chess-hero.jpg") no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 1.4em;
}

.hero img {
    max-width: 100%;
    width: 100%;
}

/* example section */

#examples {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#29212e, #161219);
    padding-bottom: 65px;
    padding-top: 35px;
}

#examples .wrapper {
    flex-flow: column;
}

#examples .title {
    margin-top: -20px;
}

/* About */

.about h3 {
    height: 30px;
    padding: 10px 0;
    margin: 0;
}

.about p {
    color: black;
    font-size: .8em;
    font-weight: 600;
}

.about-title {
    color: hsla(277, 70%, 32%, 1);
    text-shadow:1px 1px 10px rgb(255, 226, 59), 1px 1px 10px #ccc;
}

.about {
    width: 100%;
    height: 320px;
    background-image: url("./assets/anti-hero.jpg");
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: 90%;
}

/* contact */

#contact {
    background-color: #161219;
}

#contact h2 {
    margin: 45px 0;
}

#contact h4 {
    margin-top: -5px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: center;
    margin: -15px 0 50px -39px;
    width: 100%;
}

.icon {
    width: 50px;
}

.panels p {
    font-size: 1.5em;
    text-shadow:1px 1px 10px black, 1px 1px 10px #ccc;
}



/*********** TABLETS *************/

@media only screen and (min-width: 500px) {

.hero h1 {
    margin: 0 0 -100px -100px;
}

.about-container {
    width: 70%;
    margin-right: 35px;
}

.about h3 {
    margin-left: -20px;
}
.about p {
    margin: -30px 0 0 -20px;
    line-height: 18px;
}

#about .title {
    margin-right: 25px;
}

}

@media only screen and (min-width: 600px) {

.hero h1 {
    margin-left: -200px;
}

.about-container {
    width: 65%;
    margin: -40px 90px 0 0;
}

.about h3 {
    margin-left: -80px;
}
.about p {
    line-height: 20px;
    margin-left: -40px;
}

#about .title {
    width: 100%;
    margin: -10px 40px 0 0;
    display: flex;
    justify-content: center;
}

}

@media only screen and (min-width: 768px) {

.hero {
    height: 380px;
}

.hero h1 {
    margin: 0 0 -225px -200px;
    font-size: 1.9em;
}

.about {
    height: 400px;
}
.about p {
    font-size: 1em;
    line-height: 23px;
    margin-top: 20px;
}

.about-container {
    width: 58%;
    margin: -40px 180px 0 0;
}

#about .title {
    width: 100%;
    margin: -10px 170px -40px 0;
    display: flex;
    justify-content: center;
}

.panels {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.panel {
    width: 50%;
}

}

@media only screen and (min-width: 950px) {
    
.hero h1 {
    margin-left: -400px;
    font-size: 2em;
}

.about-container {
    width: 55%;
}

.about h3 {
    margin-top: -30px;
}

.about p {
    line-height: 26px;
    margin: -20px 0 0 -60px;
}
}

/************** DESKTOP *****************/

@media only screen and (min-width: 1200px) {

.thehead {
    width: 100%;
    margin-top: 20px;
}    

.logo img {
    height: 75px;
    width: 105px;
}

.logo {
    margin: -15px -50px 0 40px;
}

.topofpage {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.titlename p {
    font-size: 1.65em;
}

nav {
    width: 450px;
}

.division {
    width: 0;
    border: none;
    margin-bottom: 0;
}

.underline {
    width: 17%;
    border: rgb(160, 136, 4) solid 1px;
    margin: -49px 150px 49px 0;
    max-width: 222px;
}

nav ul {
    margin-top: -30px;
    margin-bottom: 0;
    flex-flow: row;
}

.hero {
    height: 669px;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 -350px -450px;
}

h2 {
    font-size: 3em;
}

.about {
    height: 555px;
}

.about h3 {
    font-size: 3.3em;
    margin: -70px 0 0 -250px;
}

.about-container {
    margin-left: -200px;
    width: 50%;
}

.about p {
    font-size: 1.1em;
    line-height: 35px;
    margin: -90px 0 15px -30px;
}

.panels {
    justify-content: center;
    align-items: center;
}
.panel {
    width: 30%;
}

#contact h2 {
    margin: 80px 0 111px 0;
}
}